.mainbody{
    width: 100%;
    height: 960px;
}
.header{
    width: 450px;
    height: 950px;
    background-color: wheat;
    float: left;
    margin-left: 100px;
    
}
.icons{
   margin-left: 20px;
   float: left;
   margin-top: 15px;
}
.details{
    float: right;
    margin-right: 25px;
}
.container{
    margin-top: 180px;
}
.container1{
    margin-top: 80px;
}
.rightbody{
    float: right;
    width: 1009px;
    height: 950px;
    background-color: rgb(238, 241, 241);
    margin-right: 100px;  
}
.name{
    margin-top: 30px;
    height: 50px;
    width: 1009px;
    background-color: rgb(200, 231, 231);
}
.content{
    margin-left: 60px;
}
.about{
    width: 1009px;
    height: 30px;
    margin-top: 30px;
    background-color: rgb(200, 231, 231);
}
.project{
    width: 1009px;
    height: 30px;
    margin-top: 30px;
    background-color: rgb(200, 231, 231); 
}
.skills{
    width: 1009px;
    height: 30px;
    margin-top: 30px;
    background-color: rgb(200, 231, 231);  
}
.data{
    width: 1009px;
    height: 30px;
    margin-top: 30px;
    background-color: rgb(200, 231, 231);   
}
